body {
    font-family: 'Arial', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10PX; /* Remove a margem padrão */
    padding: 10px; /* Remove o padding padrão */
    background-color: rgba(14, 14, 14, 0.747);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url('img/computacao-grafica.jpg');/*define a imagem de fundo*/
}

#container {
    width: 100%;
    height: 70%; /* Permite que o container cubra toda a altura da página */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Tabela à esquerda */
#table-container {
    flex: 1;
    margin-right: 20px;
    max-width: 300px;
    margin-top: 10px;
    max-height: 200px; /* Define a altura máxima do contêiner da tabela */
    overflow-y: auto; /* Adiciona rolagem vertical */
}

#object-table {
    width: 100%;
    max-height: 400px;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 8px; /* Adiciona bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

#object-table th, #object-table td {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: left;
    font-size: 15px;
}

#object-table th {
    background-color: #f8f9fa;
}

.selected {
    background-color: #e32424;
}

/* Canvas no centro */
#viewport-container {
    flex: 3;
    background-color: white;
    border-radius: 8px; /* Consistência nos bordas arredondadas */
    box-shadow: 0 0 10px rgba(27, 26, 26, 0.808);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#viewport {
    width: 70%;
    height: 80%;
    background-color: transparent;
}

/* Estilo para o fundo escuro do modal */
#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

/* Estilo para o modal */
#matrix-creation-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
}

/* Estilo dos inputs do modal */
#matrix-creation-modal input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

/* Estilo para o botão do modal */
#matrix-creation-modal button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    background-color: #101111;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito hover para os botões do modal */
#matrix-creation-modal button:hover {
    background-color: #0056b3;
}

#matrix-table-container {
    margin-top: 20px;
}

#matrix-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 8px; /* Consistência nos bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

#matrix-table th, #matrix-table td {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: left;
    font-size: 15px;
}

#matrix-table th {
    background-color: #f8f9fa;
}

/* Container de botões à esquerda */
#controls-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

/* Estilo da caixa branca para os botões de adicionar e funções */
.controls-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Estilo para a caixa que contém todos os botões */
#all-controls {
    display: none; /* Oculta por padrão */
    margin-top: 10px; /* Espaço entre o botão de mostrar e os controles */
    padding: 10px; /* Espaçamento interno */
    background-color: white; /* Cor de fundo */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para profundidade */
    position: absolute; /* Fixa a posição em relação ao seu pai */
    z-index: 999; /* Garante que fique acima de outros elementos */
    max-height: 400px; /* Define uma altura máxima para o contêiner */
    overflow-y: auto; /* Adiciona rolagem vertical se o conteúdo exceder a altura máxima */
}

/* Estilo dos botões dentro da caixa de adicionar e funções */
.controls-box button {
    padding: 12px;
    margin-right: 5px; /* Espaçamento entre os botões */
    border: none;
    background-color: #101111;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito hover para os botões */
.controls-box button:hover {
    background-color: #0056b3;    
}

/* Estilo do botão de mostrar lista de objetos */
#show-list-button {
    position: absolute;
    right: 20px; /* Alinha no canto superior direito */
    top: 10px;
    padding: 10px;
    background-color: #101111;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilo da caixa branca para os botões */
.add-box {
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Estilo dos botões dentro da caixa */
.add-box button {
    width: 100%; /* Para que os botões ocupem toda a largura da caixa */
    padding: 12px;
    margin-bottom: 5px; /* Espaçamento entre os botões */
    border: none;
    background-color: #101111;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito hover para os botões */
.add-box button:hover {
    background-color: #0056b3;
}